# Drug abuse in Africa

# 1. Data understanding

## Defining the metric for success
* Our metric for success is actually finding the relationship between drug/substance abuse and mentall illness cases in Africa.

In [4]:
#Importing the libraries for analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the datasets for cleaning and descriptive analysis.

In [42]:
# Function to read datasheets..
def dataframe(data):
    df= pd.read_csv(data)
    return df

# 2. Reading the Data

In [43]:
# Reading the data
df1=dataframe('Datasets/alcohol-or-drug-use-disorders-male-vs-female.csv')
dataframe('Datasets/deaths-substance-disorders-age.csv')
dataframe('Datasets/deaths-substance-disorders.csv')
dataframe('Datasets/number-with-mental-and-neurodevelopmental-disorders-by-type.csv')
dataframe('Datasets/prevalence-of-depression-males-vs-females.csv')

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),"Total population (Gapminder, HYDE & UN)",Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,3.499982,4.647815,12412311.0,NaN
2,Afghanistan,AFG,1991,3.503947,4.655772,13299016.0,NaN
3,Afghanistan,AFG,1992,3.508912,4.662066,14485543.0,NaN
4,Afghanistan,AFG,1993,3.513429,4.669012,15816601.0,NaN
...,...,...,...,...,...,...,...
54411,Zimbabwe,ZWE,2018,NaN,NaN,14438812.0,NaN
54412,Zimbabwe,ZWE,2019,NaN,NaN,14645473.0,NaN
54413,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
54414,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
54415,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [52]:
#Function to check the properies of the dataset.
def properties(data):
    shape=data.shape
    # missing=data.isnull().any()
    # duplicates=data.duplicated()
    return shape

In [53]:
properties(df1)

(5, 6)

## Hypothesis

## Data understanding

## Business understanding

## Data preparation

## Evaluation

## Modeling

## Deployment